.home_div {
    background-color: rgb(124, 124, 187);
    margin-top: 66px;
}


.home_title {

    text-align: center;
    background-color: rgb(86, 136, 180);
}

.home_p {
    text-align: center;
}

