

.logo {
  float: left;
}

.topnav_table {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: beige;
}
li {
  float:right;
  padding:15px;

}
li link{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}




